<md-content class="Page-Container DemoHeader">
	<div layout="row">
		<div flex="90" flex-offset="5" class="DemoHeader-container">
			<div layout="row" layout-align="space-between">
				<img src="img/icons/logo.svg" ui-sref="app.landing" class="DemoHeader-logo" ui-sref="app.landing"/>
				<div layout="row" layout-align="center stretch">
					<a hide-xs class="DemoHeader-link md-subhead" ui-sref="app.register">Register</a>
					<a hide-xs class="DemoHeader-link md-subhead" ui-sref="app.login">Login</a>

					<a hide-xs class="DemoHeader-link md-subhead" ui-sref="app.create-post">Posts</a>

					<a hide-xs class="DemoHeader-link md-subhead" ui-sref="app.logout">Logout</a>

					
				</div>
			</div>
		</div>
	</div>
</md-content>
<div class="DemoHeader-spacer"></div>
